In [ ]:
import pandas as pd

house_df = pd.read_excel("/content/.config/House_Prices_Dataset.xlsx")
house_df

   Id  LotArea  LotFrontage  OverallQual  YearBuilt  SalePrice
0   1     8450         65.0            7       2003     208500
1   2     9600          NaN            6       1976     181500
2   3    11250         80.0            7       2001     223500
3   4     9550          NaN            7       1915     140000

In [ ]:
house_df.isnull().sum()

Id             0
LotArea        0
LotFrontage    2
OverallQual    0
YearBuilt      0
SalePrice      0
dtype: int64

In [ ]:
# Fill numerical missing values with median
house_df['LotFrontage'].fillna(house_df['LotFrontage'].median(), inplace=True)

# Verify
house_df.isnull().sum()

/tmp/ipython-input-1468182852.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  house_df['LotFrontage'].fillna(house_df['LotFrontage'].median(), inplace=True)

Id             0
LotArea        0
LotFrontage    0
OverallQual    0
YearBuilt      0
SalePrice      0
dtype: int64

In [ ]:
medical_df = pd.read_excel("/content/.config/Medical_Appointment_No_Shows.xlsx")
medical_df

         PatientId  Age Gender ScheduledDay AppointmentDay No-show
0   29872499824296   62      F   2016-04-29     2016-04-29      No
1  558997776694438   56      M   2016-04-29     2016-04-29     Yes
2    4262962299951   -1      F   2016-04-29     2016-04-29      No
3     867951213174    8      F   2016-04-29     2016-04-29      No

In [ ]:
medical_df = medical_df[medical_df['Age'] >= 0]

In [ ]:
medical_df['ScheduledDay'] = pd.to_datetime(medical_df['ScheduledDay'])
medical_df['AppointmentDay'] = pd.to_datetime(medical_df['AppointmentDay'])

In [ ]:
medical_df['No-show'] = medical_df['No-show'].map({'No': 0, 'Yes': 1})

In [ ]:
medical_df.isnull().sum()
medical_df

         PatientId  Age Gender ScheduledDay AppointmentDay  No-show
0   29872499824296   62      F   2016-04-29     2016-04-29        0
1  558997776694438   56      M   2016-04-29     2016-04-29        1
3     867951213174    8      F   2016-04-29     2016-04-29        0

In [ ]:
house_df.to_excel("/content/.config/House_Prices_Dataset.xlsx", index=False)
medical_df.to_excel("/content/.config/Medical_Appointment_No_Shows.xlsx", index=False)